<div class="container main">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="parent">
        <div class="text-center">
          <h2 class="text-secondary">HRMS - Timesheet Management</h2>
        </div>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" name="username" />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" />
          </div>
          <div class="form-group text-center pt-2">
            <button type="submit" class="btn btn-success">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
