/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "~angular-notifier/styles";
body {
  //background-color: #081215;
  background-color: #696e6f;
  font-family: "Roboto", sans-serif;
}

input.ng-invalid.ng-touched {
  border: 1px solid red !important;
}
input.ng-valid.ng-touched {
  border: 1px solid green !important;
}

.themeBtnLg {
  width: 100%;
  background-color: #ce2332 !important;
  border: #ce2332;
}

.themeBtnLg:hover {
  background-color: #e41526 !important;
}
